:root {  
  --purple: rgb(123, 31, 162);
  --violet: rgb(103, 58, 183);
  --pink: rgb(244, 143, 177);
}

@keyframes background-pan {
  from {
    background-position: 0% center;
  }
  
  to {
    background-position: -200% center;
  }
}
html, body{
  overflow: hidden;
  margin: 0px;
}
body {
  background-color: rgb(10, 10, 10);
  padding-top: 320px;
  display: grid;
  grid-gap: 1880px;
  place-items: center;
}

h1 {
  color: white;
  font-family: "Rubik", sans-serif;
  font-size: clamp(4em, 1vw, 2em);
  font-weight: 400;
  margin: 0px;
  padding: 20px;
  text-align: center;
}

.magic-text {
  animation: background-pan 6s linear infinite;
  background: linear-gradient(
    to right,
    var(--purple),
    var(--violet),
    var(--pink),
    var(--purple)
  );
  background-size: 200%;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  white-space: nowrap;
}
.magic-text2 {
  animation: background-pan 6s linear infinite;
  background: linear-gradient(
    to right,
    var(--pink),
    var(--violet),
    var(--purple),
    var(--pink)
  );
  background-size: 200%;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  white-space: nowrap;
}
.magic-text3 {
  animation: background-pan 6s linear infinite;
  background: linear-gradient(
    to right,
    var(--violet),
    var(--pink),
    var(--purple),
    var(--violet)
  );
  background-size: 200%;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  white-space: nowrap;
}
.magic-text4 {
  animation: background-pan 6s linear infinite;
  background: linear-gradient(
    to right,
    var(--purple),
    var(--pink),
    var(--purple),
    var(--violet)
  );
  background-size: 200%;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  white-space: nowrap;
}
